<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunchs.lyt.db.business.mapper.ReportAnswerQuantityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunchs.lyt.db.business.entity.ReportAnswerQuantity">
        <id column="id" property="id" />
        <result column="hospital_id" property="hospitalId" />
        <result column="item_id" property="itemId" />
        <result column="office_id" property="officeId" />
        <result column="questionnaire_id" property="questionnaireId" />
        <result column="question_id" property="questionId" />
        <result column="question_name" property="questionName" />
        <result column="option_id" property="optionId" />
        <result column="option_name" property="optionName" />
        <result column="quantity" property="quantity" />
        <result column="score" property="score" />
        <result column="target_one" property="targetOne" />
        <result column="target_two" property="targetTwo" />
        <result column="target_three" property="targetThree" />
    </resultMap>

    <select id="getTargetSatisfyThreeList" resultType="com.sunchs.lyt.db.business.entity.ReportAnswerQuantity">
        SELECT target_three as targetThree, AVG(satisfyValue) as satisfyValue FROM (
            SELECT target_three, SUM(quantity*score)/SUM(quantity) as satisfyValue FROM report_answer_quantity
            WHERE item_id=#{itemId} AND target_two=#{targetId} AND score!=0
            GROUP BY target_three
         ) tb GROUP BY target_three
    </select>

    <select id="getTargetSatisfyTwoList" resultType="com.sunchs.lyt.db.business.entity.ReportAnswerQuantity">
        SELECT target_two as targetTwo, AVG(satisfyValue) as satisfyValue FROM (
            SELECT target_two, SUM(quantity*score)/SUM(quantity) as satisfyValue FROM report_answer_quantity
            WHERE item_id=#{itemId} AND target_one=#{targetId} AND score!=0
            GROUP BY target_three
         ) tb GROUP BY target_two
    </select>

    <select id="getTargetSatisfyList" resultType="com.sunchs.lyt.db.business.entity.ReportAnswerQuantity">
        SELECT target_three as targetThree, AVG(satisfyValue) as satisfyValue FROM (
            SELECT target_three, SUM(quantity*score)/SUM(quantity) as satisfyValue FROM report_answer_quantity
            WHERE item_id=#{itemId} AND target_three IN
            <foreach collection="targetIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
            AND score!=0 AND target_one=#{officeType} GROUP BY target_three
        ) tb GROUP BY target_three
    </select>

    <select id="getItemOfficeTargetSatisfyList" resultType="com.sunchs.lyt.db.business.entity.ReportAnswerQuantity">
        SELECT target_three as targetThree, AVG(satisfyValue) as satisfyValue FROM (
            SELECT target_three, SUM(quantity*score)/SUM(quantity) as satisfyValue FROM report_answer_quantity
            WHERE item_id=#{itemId} AND office_id=#{officeId} AND target_three IN
            <foreach collection="targetIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
            AND score!=0 AND target_one=#{officeType} GROUP BY target_three
        ) tb GROUP BY target_three
    </select>

    <select id="getItemOfficeTargetSatisfyListV2" resultType="com.sunchs.lyt.db.business.entity.ReportAnswerQuantity">
        SELECT target_three as targetThree,AVG(satisfyValue) as satisfyValue FROM (
            SELECT target_three,SUM(quantity*score)/SUM(quantity) as satisfyValue FROM (
                SELECT target_three,question_id,option_id,score,COUNT(1) quantity FROM report_answer_option
                WHERE item_id=#{param.itemId} AND office_type_id=#{param.officeType} AND office_id=#{param.officeId} AND score!=0
                AND target_three IN
                <foreach collection="param.targetIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
                <if test="param.startTime != '' and param.endTime != ''">
                    AND endTime BETWEEN #{param.startTime} AND #{param.endTime}
                </if>
                GROUP BY question_id, option_id
            ) option_table GROUP BY question_id
        ) question_table GROUP BY target_three
    </select>

    <select id="getItemOfficeSatisfyInfo" resultType="com.sunchs.lyt.db.business.entity.ReportAnswerQuantity">
        SELECT office_id as officeId, AVG(satisfyValue) as satisfyValue, SUM(quantity) as quantity FROM (
            SELECT office_id, SUM(quantity*score)/SUM(quantity) as satisfyValue, SUM(quantity) as quantity FROM report_answer_quantity
            WHERE item_id=#{itemId} AND office_id=#{officeId} AND target_three IN
            <foreach collection="targetIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
            AND score!=0 AND target_one=#{officeType} GROUP BY target_three
        ) tb GROUP BY office_id
    </select>

    <select id="getItemOfficeSatisfyQuestionList" resultType="com.sunchs.lyt.db.business.entity.ReportAnswerQuantity">
        SELECT question_id as questionId, question_name as questionName, SUM(quantity*score)/SUM(quantity) as satisfyValue,
            SUM(IF(score=100,quantity,0)) value1,
            SUM(IF(score=80,quantity,0)) value2,
            SUM(IF(score=60,quantity,0)) value3,
            SUM(IF(score=40,quantity,0)) value4,
            SUM(IF(score=20,quantity,0)) value5
        FROM report_answer_quantity
        WHERE item_id=#{itemId} AND target_one=#{officeType} AND office_id=#{officeId} AND target_three  IN
        <foreach collection="targetIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND score!=0 GROUP BY target_three
    </select>

    <select id="getItemAllOfficeSatisfyList" resultType="com.sunchs.lyt.db.business.entity.ReportAnswerQuantity">
        SELECT question_id as questionId, SUM(quantity*score)/SUM(quantity) as satisfyValue
        FROM report_answer_quantity
        WHERE item_id=#{itemId} AND target_one IN
        <foreach collection="officeTypeIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND office_id IN
        <foreach collection="officeIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND score!=0 GROUP BY target_three
    </select>

    <select id="getCustomOfficeTargetSatisfyList" resultType="com.sunchs.lyt.db.business.entity.ReportAnswerQuantity">
        SELECT target_three,AVG(satisfyValue) as satisfyValue FROM
        (
            SELECT target_three,question_id,SUM(quantity*score)/SUM(quantity) as satisfyValue FROM
            (
                SELECT target_three,question_id,option_id,score,COUNT(1) quantity FROM report_answer_option
                WHERE answer_id IN
                <foreach collection="answerIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
                AND score!=0  GROUP BY question_id, option_id
            ) option_table GROUP BY question_id
        ) question_table
        WHERE target_three IN
        <foreach collection="targetIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        GROUP BY target_three
    </select>

</mapper>
