<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunchs.lyt.db.business.mapper.OptionTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunchs.lyt.db.business.entity.OptionTemplate">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="content" property="content" />
        <result column="sort" property="sort" />
        <result column="remarks" property="remarks" />
        <result column="mode" property="mode" />
    </resultMap>

</mapper>
