<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunchs.lyt.db.business.mapper.ReportAnswerQuantityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunchs.lyt.db.business.entity.ReportAnswerQuantity">
        <id column="id" property="id" />
        <result column="hospital_id" property="hospitalId" />
        <result column="item_id" property="itemId" />
        <result column="office_id" property="officeId" />
        <result column="questionnaire_id" property="questionnaireId" />
        <result column="question_id" property="questionId" />
        <result column="question_name" property="questionName" />
        <result column="option_id" property="optionId" />
        <result column="option_name" property="optionName" />
        <result column="quantity" property="quantity" />
        <result column="score" property="score" />
    </resultMap>

</mapper>
